<div class="container">
  <ul>
    <% article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>  
  </ul>
  <%= form_with(model: @article, local: true) do |f| %>
    <div class='new_card'>New card</div>
    <div>
      <%= f.label :title,  class: 'form_title' %>
    </div>
    <div>
      <%= f.text_field :title, class: 'new_title_box' %>
    </div>
    <div>
      <%= f.label :content, class: 'form_content' %>
    </div>
    <div>
      <%= f.text_area :content, class: 'new_content_box' %>
    </div>
    <%= f.submit 'submit', class: 'btn-primary' %>
  <% end %>
</div>
