.container
  .title
    .article_title
      = @article.title
    - if user_signed_in? && current_user.has_written?(@article)
      .article_detail_actions
        .dropdown
          = image_tag 'Combined Shape.png', class: 'dropbtn'
          .dropdown-content.mini
            = link_to '編集する', edit_article_path(@article)
            = link_to '削除する', article_path(@article), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
  %div
    %p= @article.auther_name
    %p= @article.display_created_at
  .article_eyecatch
  .content_box
    .content
      = @article.content
  .comment
    .comment_title Comment
    = link_to new_article_comment_path(@article) do
      .new_comment_box
        %p +add new comment 
    - @comments.each do |comment|
      .user_comment_box
        .comment_user_icon
          = image_tag 'default-avatar.png', class: 'comment_user_avatar'
        .comment_user_content
          %p= comment.content

